html {box-sizing: border-box;}
*, *::after, *::before {box-sizing: inherit;}

button {
  position: absolute;
  top: 40%;
  left: 40%;
  margin: auto;
  width: 300px;
  height: 100px;
  background: rgb(73, 147, 212);
  color: white;
  border-radius: 10px;
  outline: none;
  font-size: 50px;
  font-family: sans-serif;
  box-shadow: 0px 5px rgb(60, 125, 181);
}
